@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

body{
  background: url(../Images/4.jpg) no-repeat center center fixed;
  background-size: 100% 100%;
}

header{
  margin-bottom: 5%;
  opacity: 0.9;
}

.navbar{
  padding: 1%;
  font-size: 125%;
  font-family: 'Poppins', sans-serif;
  font-weight: 700; 
}

main{
  margin-bottom: 5%;
}

footer{
  background: #fff;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  opacity: 0.9;
  width: auto;
}

footer h2{
  text-align: center;
}

.social-icon li {
  display: inline-block;
  list-style: none;
}

.social-icon li a {
  color: #000;
  border-radius: 100px;
  font-size: 50px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 75px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
}

#GI{
  margin-left: 357px;
}

.social-icon li a:hover {
  background: #000;
  color: #fff;
}

@media only screen and (min-width: 327px) and (max-width: 575px){
  #GI{
    margin-left: 1px;
  }
}

@media only screen and (min-width: 575px) and (max-width: 768px){
  #GI{
    margin-left: 75px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 950px){
  #GI{
    margin-left: 150px;
  }
}

@media only screen and (min-width: 950px) and (max-width: 1200px){
  #GI{
    margin-left: 275px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1500px){
  #GI{
    margin-left: 375px;
  }
}





input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

input[type=submit] {
  background-color:#404040 ;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  transition: 0.3s ease-in;
}

input[type=submit]:hover {
  background-color: #666699;
  color: #fff;
}

.fcontainer {
  border-radius: 5px;
  background: linear-gradient(#ffffff, #cccccc);
  padding: 20px;
  width: 50%;
  margin-left: 5%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}