<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/css/custom.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
            integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
            crossorigin="anonymous"></script>
        <script src="/static/js/notification.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="/static/js/main.js"></script>
        <script
            src="https://www.paypal.com/sdk/js?client-id=ARpPKlijciJoVrJ0jAvAoqUQhGs1_NA77qKtY70bbLIIMrpKrSDG2zUaNv4v2lgG79EGawlLjwsgFIWe&vault=true&intent=subscription&disable-funding=credit"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
            integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw=="
            crossorigin="anonymous" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            referrerpolicy="no-referrer">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

        <link rel="stylesheet" href="../static/css/styleI.css">
        <title>Hello, world!</title>

    </head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../static/Images/vit-logo-black.png" alt="" width="120" height="40">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/scoreboard">ScoreBoard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/challenge">CTF Challenge</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/register"><i class="fas fa-user-plus pr-1"></i>Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt pr-1"></i>Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <div class="row">

            <div class="container mt-5 ">
                <div class="row">
                    <div class="col-lg-7 col-md-12 mb-4">
                        <div class="h-100">

                            <div class="card bg-secondary h-100">
                                <div class="card-header d-flex">
                                    <span class="font-primary" id="title-display"
                                        style="font-size: 37px; text-decoration: none; color: rgb(255, 147, 7);">Basic
                                        Injection

                                    </span>
                                    <div class="ml-auto">
                                        <span class="mr-3"
                                            style="padding: 95px; font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);">
                                            <i class="fas fa-fire-alt mr-1"></i>
                                            <span id="points-display" class="font-weight-bold">30</span>
                                            <span>points</span>
                                        </span>



                                        <span class="badge bg-success bd-white">Easy</span>



                                    </div>
                                </div>
                                <div class="card-body d-flex flex-column align-content-end">
                                    <div class="row d-flex">
                                        <div class="col-12">
                                            <div id="description-display">
                                                <p>See if you can leak the whole database using what you know about SQL
                                                    Injections. <a href="https://web.ctflearn.com/web4/">link</a></p>
                                                <p>Don't know where to begin? Check out CTFlearn's <a
                                                        href="https://ctflearn.com/lab/sql-injection-part-1">SQL
                                                        Injection
                                                        Lab</a></p>
                                            </div>
                                            <a id="fileName" class="btn btn-light" href="/challenge/download/88" hidden>

                                                <i class="fas fa-cloud-download-alt text-primary"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row d-flex flex-fill align-items-end">

                                        <div class="col-12">
                                            <div class="form-row align-items-center mt-5 align-items-end">
                                                <div class="col-9">
                                                    <div class="input-group mb-2">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">Flag</div>
                                                        </div>





                                                        <input class="form-control" id="inlineFormInputGroup"
                                                            name="flag" placeholder="CTFlearn{h4ck3d}" required
                                                            type="text" value="">



                                                    </div>
                                                </div>
                                                <div class="col-3">
                                                    <button onclick="solve()" type="submit"
                                                        class="btn btn-light mb-2">Submit</button>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>

                                <div class="card-footer d-flex">
                                    <div class="mr-auto">
                                        <span class="badge bg-transparent" id="category-display">Web</span>
                                        ·
                                        <span class="badge bg-transparent">

                                            <a style="color: white; " class="" href="/user/intelagent">intelagent</a>








                                            <span class="ctf-pointer" data-toggle="tooltip" data-placement="top"
                                                title="CTFlearn Premium" onclick="window.location.href='/learn++'"><i
                                                    class="premium far fa-gem"></i></span>




                                        </span>
                                    </div>
                                    <span class="d-inline font-secondary">28453 solves</span>
                                </div>

                            </div>


                            <div class="row d-flex mt-5 mb-5">
                                <div class="col-auto">
                                    <h3>
                                        <i class="far fa-comments mr-2"></i>
                                        Discussion
                                    </h3>


                                    <ul class="nav nav-pills mb-3" id="sortNav">
                                        <li class="nav-item">
                                            <a class="nav-link  ctf-pointer new" onclick="commentSort('new')"
                                                aria-current="page">New</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active ctf-pointer popular"
                                                onclick="commentSort('popular')">Popular</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-auto flex-fill">
                                    <div class="card bg-secondary">
                                        <div class="card-body">
                                            <form action="/challenge/88/comment" method="post">
                                                <div class="col-12 form-group">


                                                    <label for="markdown">Leave a Comment (Supports Markdown)</label>




                                                    <textarea class="form-control" id="markdown" name="markdown"
                                                        required></textarea>



                                                    <div class="form-check">





                                                        <input class="form-check-input" name="protected" type="checkbox"
                                                            value="y">

                                                        <label for="protected">Protect this comment</label>



                                                    </div>
                                                    <input id="csrf_token" name="csrf_token" type="hidden"
                                                        value="Ijg5YTNlNDc1YzFkOGU1ODQ3YWJhZThhNjM3NGQ3MDU1ZTNjOTYyZmMi.YK0EbQ.N3SU89ewKvWAECozI_kF0OySWB8">
                                                    <button type="submit" class="btn btn-light">
                                                        Comment
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="new">
                                <div class="col">





                                    <div id="comment-8340" class="card ml-auto mb-3 px-4 py-3 bg-secondary"
                                        style="width: 100%">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-11">
                                                    <div class="row d-flex">
                                                        <div class="col-12 d-flex">
                                                            <a class="mb-auto ml-2" href="/user/birdieparty">
                                                                <img height="75" width="75"
                                                                    src="https://avatar.ctflearn.com/ea8197a3520c7f6947aa145b72090005.png?set=set1&amp;size=75x75"
                                                                    class="navbar-avatar" alt="avatar">
                                                            </a>
                                                            <div class="row">
                                                                <div class="col">


                                                                    <a style="color: white; "
                                                                        class="font-bolder font-primary ml-3 mb-auto"
                                                                        href="/user/birdieparty">birdieparty</a>










                                                                    <p class="text-white-50 ml-3">1 day ago</p>
                                                                </div>
                                                            </div>
                                                            <div class="ml-auto font-weight-bold">


                                                                <a onclick="$('#edit-new-8340').hide();$('#reply-new-8340').show();$('#markdown8340').focus();"
                                                                    class="mr-4 float-right text-white-50 font-primary ctf-pointer">
                                                                    <span>Reply<i class="fas fa-reply ml-2"></i></span>
                                                                </a>
                                                                <a onclick="copyTextToClipboard('https://ctflearn.com/challenge/88/8340#comment-8340');notification('Copied to clipboard', 'success', 3000)"
                                                                    class="mr-4 float-right text-white-50 font-primary ctf-pointer">
                                                                    <span>Share<i class="fas fa-link ml-2"></i></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-2">
                                                        <div class="col-11">
                                                            <div class="ml-2 my-auto">

                                                                <p>If you went through the basic SQL injections lab you
                                                                    know
                                                                    what to do. Look at your apostrophes closely! The
                                                                    first and
                                                                    last apostrophe does NOT need to be typed in your
                                                                    answer :)
                                                                </p>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-1 ml-auto d-flex">
                                                    <div class="d-flex flex-column my-auto ml-auto">
                                                        <i class="fas fa-caret-up fa-2x mx-auto ctf-pointer "
                                                            onclick="vote(8340, 1, this)"></i>
                                                        <span class="mx-auto score">0</span>
                                                        <i class="mx-auto fas fa-caret-down fa-2x ctf-pointer "
                                                            onclick="vote(8340, -1, this)"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="reply-new-8340" class="row" style="display: none">
                                                <form class="w-100" action="/challenge/88/comment" method="post">
                                                    <div class="col-12 form-group">


                                                        <label for="markdown">Leave a Comment (Supports
                                                            Markdown)</label>




                                                        <textarea class="form-control" id="markdown8340" name="markdown"
                                                            required></textarea>



                                                        <div class="form-check">





                                                            <input class="form-check-input" name="protected"
                                                                type="checkbox" value="y">

                                                            <label for="protected">Protect this comment</label>



                                                        </div>
                                                        <input type="hidden" name="parent_id" value="8340">
                                                        <input id="csrf_token" name="csrf_token" type="hidden"
                                                            value="Ijg5YTNlNDc1YzFkOGU1ODQ3YWJhZThhNjM3NGQ3MDU1ZTNjOTYyZmMi.YK0EbQ.N3SU89ewKvWAECozI_kF0OySWB8">
                                                        <button type="submit" class="btn btn-primary">Reply</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>





                                    <div id="comment-8329" class="card ml-auto mb-3 px-4 py-3 bg-secondary"
                                        style="width: 100%">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-11">
                                                    <div class="row d-flex">
                                                        <div class="col-12 d-flex">
                                                            <a class="mb-auto ml-2" href="/user/alakeeme">
                                                                <img height="75" width="75"
                                                                    src="https://avatar.ctflearn.com/019de4e1eda5899f1217dd19d4002af6.png?set=set1&amp;size=75x75"
                                                                    class="navbar-avatar" alt="avatar">
                                                            </a>
                                                            <div class="row">
                                                                <div class="col">


                                                                    <a style="color: white; "
                                                                        class="font-bolder font-primary ml-3 mb-auto"
                                                                        href="/user/alakeeme">alakeeme</a>










                                                                    <p class="text-white-50 ml-3">2 days ago</p>
                                                                </div>
                                                            </div>
                                                            <div class="ml-auto font-weight-bold">


                                                                <a onclick="$('#edit-new-8329').hide();$('#reply-new-8329').show();$('#markdown8329').focus();"
                                                                    class="mr-4 float-right text-white-50 font-primary ctf-pointer">
                                                                    <span>Reply<i class="fas fa-reply ml-2"></i></span>
                                                                </a>
                                                                <a onclick="copyTextToClipboard('https://ctflearn.com/challenge/88/8329#comment-8329');notification('Copied to clipboard', 'success', 3000)"
                                                                    class="mr-4 float-right text-white-50 font-primary ctf-pointer">
                                                                    <span>Share<i class="fas fa-link ml-2"></i></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-2">
                                                        <div class="col-11">
                                                            <div class="ml-2 my-auto">

                                                                <p>awesome! I've been doing various penetration testing
                                                                    bur this
                                                                    z actually my first time in vuln. hub. I did it </p>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-1 ml-auto d-flex">
                                                    <div class="d-flex flex-column my-auto ml-auto">
                                                        <i class="fas fa-caret-up fa-2x mx-auto ctf-pointer "
                                                            onclick="vote(8329, 1, this)"></i>
                                                        <span class="mx-auto score">0</span>
                                                        <i class="mx-auto fas fa-caret-down fa-2x ctf-pointer "
                                                            onclick="vote(8329, -1, this)"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="reply-new-8329" class="row" style="display: none">
                                                <form class="w-100" action="/challenge/88/comment" method="post">
                                                    <div class="col-12 form-group">


                                                        <label for="markdown">Leave a Comment (Supports
                                                            Markdown)</label>




                                                        <textarea class="form-control" id="markdown8329" name="markdown"
                                                            required></textarea>



                                                        <div class="form-check">





                                                            <input class="form-check-input" name="protected"
                                                                type="checkbox" value="y">

                                                            <label for="protected">Protect this comment</label>

                                                            <div class="row d-flex mt-5 mb-5">
                                                                <div class="col-auto">
                                                                    <h3>
                                                                        <i class="far fa-comments mr-2"></i>
                                                                        Discussion
                                                                    </h3>


                                                                    <ul class="nav nav-pills mb-3" id="sortNav">
                                                                        <li class="nav-item">
                                                                            <a class="nav-link  ctf-pointer new"
                                                                                onclick="commentSort('new')"
                                                                                aria-current="page">New</a>
                                                                        </li>
                                                                        <li class="nav-item">
                                                                            <a class="nav-link active ctf-pointer popular"
                                                                                onclick="commentSort('popular')">Popular</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-auto flex-fill">
                                                                    <div class="card bg-secondary">
                                                                        <div class="card-body">
                                                                            <form action="/challenge/88/comment"
                                                                                method="post">
                                                                                <div class="col-12 form-group">


                                                                                    <label for="markdown">Leave a
                                                                                        Comment
                                                                                        (Supports Markdown)</label>




                                                                                    <textarea class="form-control"
                                                                                        id="markdown" name="markdown"
                                                                                        required></textarea>



                                                                                    <div class="form-check">





                                                                                        <input class="form-check-input"
                                                                                            name="protected"
                                                                                            type="checkbox" value="y">

                                                                                        <label for="protected">Protect
                                                                                            this
                                                                                            comment</label>



                                                                                    </div>
                                                                                    <input id="csrf_token"
                                                                                        name="csrf_token" type="hidden"
                                                                                        value="Ijg5YTNlNDc1YzFkOGU1ODQ3YWJhZThhNjM3NGQ3MDU1ZTNjOTYyZmMi.YK0EbQ.N3SU89ewKvWAECozI_kF0OySWB8">
                                                                                    <button type="submit"
                                                                                        class="btn btn-light">
                                                                                        Comment
                                                                                    </button>
                                                                                </div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row" id="new" hidden>
                                                                <div class="col">





                                                                    <div id="comment-8340"
                                                                        class="card ml-auto mb-3 px-4 py-3 bg-secondary"
                                                                        style="width: 100%">
                                                                        <div class="card-body">
                                                                            <div class="row">
                                                                                <div class="col-11">
                                                                                    <div class="row d-flex">
                                                                                        <div class="col-12 d-flex">
                                                                                            <a class="mb-auto ml-2"
                                                                                                href="/user/birdieparty">
                                                                                                <img height="75"
                                                                                                    width="75"
                                                                                                    src="https://avatar.ctflearn.com/ea8197a3520c7f6947aa145b72090005.png?set=set1&amp;size=75x75"
                                                                                                    class="navbar-avatar"
                                                                                                    alt="avatar">
                                                                                            </a>
                                                                                            <div class="row">
                                                                                                <div class="col">


                                                                                                    <a style="color: white; "
                                                                                                        class="font-bolder font-primary ml-3 mb-auto"
                                                                                                        href="/user/birdieparty">birdieparty</a>










                                                                                                    <p
                                                                                                        class="text-white-50 ml-3">
                                                                                                        1 day ago</p>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div
                                                                                                class="ml-auto font-weight-bold">


                                                                                                <a onclick="$('#edit-new-8340').hide();$('#reply-new-8340').show();$('#markdown8340').focus();"
                                                                                                    class="mr-4 float-right text-white-50 font-primary ctf-pointer">
                                                                                                    <span>Reply<i
                                                                                                            class="fas fa-reply ml-2"></i></span>
                                                                                                </a>
                                                                                                <a onclick="copyTextToClipboard('https://ctflearn.com/challenge/88/8340#comment-8340');notification('Copied to clipboard', 'success', 3000)"
                                                                                                    class="mr-4 float-right text-white-50 font-primary ctf-pointer">
                                                                                                    <span>Share<i
                                                                                                            class="fas fa-link ml-2"></i></span>
                                                                                                </a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row mt-2">
                                                                                        <div class="col-11">
                                                                                            <div class="ml-2 my-auto">

                                                                                                <p>If you went through
                                                                                                    the basic
                                                                                                    SQL injections lab
                                                                                                    you know
                                                                                                    what to do. Look at
                                                                                                    your
                                                                                                    apostrophes closely!
                                                                                                    The
                                                                                                    first and last
                                                                                                    apostrophe
                                                                                                    does NOT need to be
                                                                                                    typed in
                                                                                                    your answer :) </p>


                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-1 ml-auto d-flex">
                                                                                    <div
                                                                                        class="d-flex flex-column my-auto ml-auto">
                                                                                        <i class="fas fa-caret-up fa-2x mx-auto ctf-pointer "
                                                                                            onclick="vote(8340, 1, this)"></i>
                                                                                        <span
                                                                                            class="mx-auto score">0</span>
                                                                                        <i class="mx-auto fas fa-caret-down fa-2x ctf-pointer "
                                                                                            onclick="vote(8340, -1, this)"></i>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div id="reply-new-8340" class="row"
                                                                                style="display: none">
                                                                                <form class="w-100"
                                                                                    action="/challenge/88/comment"
                                                                                    method="post">
                                                                                    <div class="col-12 form-group">


                                                                                        <label for="markdown">Leave a
                                                                                            Comment
                                                                                            (Supports Markdown)</label>




                                                                                        <textarea class="form-control"
                                                                                            id="markdown8340"
                                                                                            name="markdown"
                                                                                            required></textarea>



                                                                                        <div class="form-check">





                                                                                            <input
                                                                                                class="form-check-input"
                                                                                                name="protected"
                                                                                                type="checkbox"
                                                                                                value="y">

                                                                                            <label
                                                                                                for="protected">Protect
                                                                                                this
                                                                                                comment</label>



                                                                                        </div>
                                                                                        <input type="hidden"
                                                                                            name="parent_id"
                                                                                            value="8340">
                                                                                        <input id="csrf_token"
                                                                                            name="csrf_token"
                                                                                            type="hidden"
                                                                                            value="Ijg5YTNlNDc1YzFkOGU1ODQ3YWJhZThhNjM3NGQ3MDU1ZTNjOTYyZmMi.YK0EbQ.N3SU89ewKvWAECozI_kF0OySWB8">
                                                                                        <button type="submit"
                                                                                            class="btn btn-primary">Reply</button>
                                                                                    </div>
                                                                                </form>
                                                                            </div>

                                                                        </div>
                                                                    </div>





                                                                    <div id="comment-8329"
                                                                        class="card ml-auto mb-3 px-4 py-3 bg-secondary"
                                                                        style="width: 100%">
                                                                        <div class="card-body">
                                                                            <div class="row">
                                                                                <div class="col-11">
                                                                                    <div class="row d-flex">
                                                                                        <div class="col-12 d-flex">
                                                                                            <a class="mb-auto ml-2"
                                                                                                href="/user/alakeeme">
                                                                                                <img height="75"
                                                                                                    width="75"
                                                                                                    src="https://avatar.ctflearn.com/019de4e1eda5899f1217dd19d4002af6.png?set=set1&amp;size=75x75"
                                                                                                    class="navbar-avatar"
                                                                                                    alt="avatar">
                                                                                            </a>
                                                                                            <div class="row">
                                                                                                <div class="col">


                                                                                                    <a style="color: white; "
                                                                                                        class="font-bolder font-primary ml-3 mb-auto"
                                                                                                        href="/user/alakeeme">alakeeme</a>










                                                                                                    <p
                                                                                                        class="text-white-50 ml-3">
                                                                                                        2 days ago</p>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div
                                                                                                class="ml-auto font-weight-bold">


                                                                                                <a onclick="$('#edit-new-8329').hide();$('#reply-new-8329').show();$('#markdown8329').focus();"
                                                                                                    class="mr-4 float-right text-white-50 font-primary ctf-pointer">
                                                                                                    <span>Reply<i
                                                                                                            class="fas fa-reply ml-2"></i></span>
                                                                                                </a>
                                                                                                <a onclick="copyTextToClipboard('https://ctflearn.com/challenge/88/8329#comment-8329');notification('Copied to clipboard', 'success', 3000)"
                                                                                                    class="mr-4 float-right text-white-50 font-primary ctf-pointer">
                                                                                                    <span>Share<i
                                                                                                            class="fas fa-link ml-2"></i></span>
                                                                                                </a>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="row mt-2">
                                                                                        <div class="col-11">
                                                                                            <div class="ml-2 my-auto">

                                                                                                <p>awesome! I've been
                                                                                                    doing
                                                                                                    various penetration
                                                                                                    testing
                                                                                                    bur this z actually
                                                                                                    my first
                                                                                                    time in vuln. hub. I
                                                                                                    did it
                                                                                                </p>


                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-1 ml-auto d-flex">
                                                                                    <div
                                                                                        class="d-flex flex-column my-auto ml-auto">
                                                                                        <i class="fas fa-caret-up fa-2x mx-auto ctf-pointer "
                                                                                            onclick="vote(8329, 1, this)"></i>
                                                                                        <span
                                                                                            class="mx-auto score">0</span>
                                                                                        <i class="mx-auto fas fa-caret-down fa-2x ctf-pointer "
                                                                                            onclick="vote(8329, -1, this)"></i>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div id="reply-new-8329" class="row"
                                                                                style="display: none">
                                                                                <form class="w-100"
                                                                                    action="/challenge/88/comment"
                                                                                    method="post">
                                                                                    <div class="col-12 form-group">


                                                                                        <label for="markdown">Leave a
                                                                                            Comment
                                                                                            (Supports Markdown)</label>




                                                                                        <textarea class="form-control"
                                                                                            id="markdown8329"
                                                                                            name="markdown"
                                                                                            required></textarea>



                                                                                        <div class="form-check">





                                                                                            <input
                                                                                                class="form-check-input"
                                                                                                name="protected"
                                                                                                type="checkbox"
                                                                                                value="y">

                                                                                            <label
                                                                                                for="protected">Protect
                                                                                                this
                                                                                                comment</label>








                                                                                            <!-- Optional JavaScript; choose one of the two! -->

                                                                                            <!-- Option 1: Bootstrap Bundle with Popper -->
                                                                                            <script
                                                                                                src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                                                                                                integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
                                                                                                crossorigin="anonymous"></script>

</body>

</html>