<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            referrerpolicy="no-referrer">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

        <link rel="stylesheet" href="../static/css/styleI.css">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>

<body>
    <header>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../static/Images/vit-logo-black.png" alt="" width="120" height="40">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/scoreboard">ScoreBoard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/challenge">CTF Challenge</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/register"><i class="fas fa-user-plus pr-1"></i>Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt pr-1"></i>Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>


    <div class="container-fluid">

        <div class="container mt-5">
            <form class="form-inline col-12" id="filter-form">
                <label for="category"></label>
                <div class="input-group mb-2 mr-sm-2 flex-fill">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="category-label">Category</div>
                    </div>
                    <select class="form-control" id="category">
                        <option>All</option>

                        <option>Web</option>

                        <option>Forensics</option>

                        <option>Binary</option>

                        <option>Reverse Engineering</option>

                        <option>Cryptography</option>

                        <option>Programming</option>

                        <option>Miscellaneous</option>

                    </select>
                </div>

                <label for="difficulty"></label>
                <div class="input-group mb-2 mr-sm-2 flex-fill">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="difficulty-label">Difficulty</div>
                    </div>
                    <select class="form-control" id="difficulty">
                        <option>All</option>
                        <option>Easy</option>
                        <option>Medium</option>
                        <option>Hard</option>
                    </select>
                </div>

                <label for="solved"></label>
                <div class="input-group mb-2 mr-sm-2 flex-fill">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="solved-label">Solved</div>
                    </div>
                    <select class="form-control" id="solved">
                        <option value=0>Unsolved</option>
                        <option value=1>Solved</option>
                        <option value=-1>All</option>
                    </select>
                </div>

                <label for="order"></label>
                <div class="input-group mb-2 mr-sm-2 flex-fill">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="order-label">Order</div>
                    </div>
                    <select class="form-control" id="order">
                        <option value="solves">Most Solves</option>
                        <option value="popular">Highest Rating</option>
                        <option value="easiest">Easiest</option>
                        <option value="hardest">Hardest</option>
                        <option value="newest">Newest</option>
                    </select>
                </div>

                <label for="search"></label>
                <div class="input-group mb-2 mr-sm-2 flex-fill">
                    <div class="input-group-prepend">
                        <div class="input-group-text" id="search-label">Search</div>
                    </div>
                    <input autocomplete="off" type="text" class="form-control" id="search"
                        placeholder="Search by author, title, or ID">
                </div>
                <div class="input-group mb-2 mr-sm-2">
                    <input onclick="resetFilters()" type="button" class="btn btn-primary" value="Reset Filters">
                </div>
            </form>
            <div class="w-100 d-flex">

                <span class="sr-only"></span>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-lg-2 mt-4" id="challenge-list">

        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3 col-12">
                <div class="mx-auto d-flex">
                    <nav class="mx-auto" id="pagination" aria-label="Page navigation example" hidden>
                        <ul class="pagination" id="pagination-items">
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <div class="mr-3">
                    <div id="pageSize" class="input-group mb-2 mr-sm-2 flex-fill" hidden>
                        <div class="input-group-prepend">
                            <div class="input-group-text" id="category-label">Page Size</div>
                        </div>
                        <select id="pageSelect" class="form-control" aria-label="Default select example">
                            <option selected value="6">6</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="1000">All</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 d-flex pb-3">
            <div class="mx-auto text-white-50" id="pagination-overview" hidden>
                <span>Page</span>
                <span class="text-white" id="current-page">1</span>
                <span>out of</span>
                <span class="text-white" id="num-pages">1</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col mb-5 flex-column">
                <a href="/challenge/1" class="clear-link d-block">
                    <div class="card challenge-card font-primary bg-secondary">
                        <div class="card-header d-flex">
                            <span style="font-size: 37px; text-decoration: none; color: rgb(255, 147, 7);">Basic
                                Injection</span>
                            <div class="ml-auto">



                                <span class="badge bg-success bd-white">Easy</span>



                            </div>
                        </div>
                        <div class="card-body font-secondary d-flex row py-3">
                            <div class="ml-3">
                                <span class="mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i class="
                                    fas fa-fire-alt mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">30</span> points</span>
                                <span class=" mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i class="
                                    far fa-comments mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">461</span> comments </span>
                                <span class=" mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i class="
                                    far fa-star mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">4.58</span></span>
                            </div>
                        </div>

                        <div class=" card-footer d-flex">
                            <div class="mr-auto">
                                <span class="badge bg-transparent" id="category-display">Web</span>
                                ·
                                <span class="badge bg-transparent">

                                    <span style="color: white; " class="">intelagent







                                        <span class="ctf-pointer" data-toggle="tooltip" data-placement="top" title=""
                                            onclick="window.location.href='/learn++'"
                                            data-original-title="CTFlearn Premium"><i class="premium far fa-gem"
                                                aria-hidden="true"></i></span>


                                    </span>

                                </span>
                            </div>
                            <span class="d-inline font-secondary" style="color:blue">28449 solves</span>
                        </div>

                    </div>
                </a>
            </div>
            <div class=" col-md-6 col mb-5 flex-column">
                <a href="/challenge/125" class="clear-link d-block">
                    <div class="card challenge-card font-primary bg-secondary">
                        <div class="headings_card card-header d-flex">
                            <span style="font-size: 37px; text-decoration: none; color: rgb(255, 147, 7);">Practice
                                Flag</span>
                            <div class=" ml-auto">



                                <span class="badge bg-success bd-white">Easy</span>



                            </div>
                        </div>
                        <div class="card-body font-secondary d-flex row py-3">
                            <div class="ml-3">
                                <span class=" mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i
                                        class="fas fa-fire-alt mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">10</span> points</span>
                                <span class="mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i
                                        class="far fa-comments mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">170</span> comments </span>
                                <span class="mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i
                                        class="far fa-star mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">3.35</span></span>
                            </div>
                        </div>

                        <div class="card-footer d-flex">
                            <div class="mr-auto">
                                <span class="badge bg-transparent" id="category-display">Miscellaneous</span>
                                ·
                                <span class="badge bg-transparent">

                                    <span style="color: white; " class="">intelagent







                                        <span class="ctf-pointer" data-toggle="tooltip" data-placement="top" title=""
                                            onclick="window.location.href='/learn++'"
                                            data-original-title="CTFlearn Premium"><i class="premium far fa-gem"
                                                aria-hidden="true"></i></span>


                                    </span>

                                </span>
                            </div>
                            <span class="d-inline font-secondary" style="color:blue">20352 solves</span>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col-md-6 col mb-5 flex-column">
                <a href="/challenge/88" class="clear-link d-block">
                    <div class="card challenge-card font-primary bg-secondary">
                        <div class="card-header d-flex">
                            <span style="font-size: 37px; text-decoration: none; color: rgb(255, 147, 7);">Basic
                                Injection</span>
                            <div class="ml-auto">



                                <span class="badge bg-success bd-white">Easy</span>



                            </div>
                        </div>
                        <div class="card-body font-secondary d-flex row py-3">
                            <div class="ml-3">
                                <span class="mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i class="
                                    fas fa-fire-alt mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">30</span> points</span>
                                <span class=" mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i class="
                                    far fa-comments mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">461</span> comments </span>
                                <span class=" mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i class="
                                    far fa-star mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">4.58</span></span>
                            </div>
                        </div>

                        <div class=" card-footer d-flex">
                            <div class="mr-auto">
                                <span class="badge bg-transparent" id="category-display">Web</span>
                                ·
                                <span class="badge bg-transparent">

                                    <span style="color: white; " class="">intelagent







                                        <span class="ctf-pointer" data-toggle="tooltip" data-placement="top" title=""
                                            onclick="window.location.href='/learn++'"
                                            data-original-title="CTFlearn Premium"><i class="premium far fa-gem"
                                                aria-hidden="true"></i></span>


                                    </span>

                                </span>
                            </div>
                            <span class="d-inline font-secondary" style="color:blue">28449 solves</span>
                        </div>

                    </div>
                </a>
            </div>
            <div class=" col-md-6 col mb-5 flex-column">
                <a href="/challenge/125" class="clear-link d-block">
                    <div class="card challenge-card font-primary bg-secondary">
                        <div class="headings_card card-header d-flex">
                            <span style="font-size: 37px; text-decoration: none; color: rgb(255, 147, 7);">Practice
                                Flag</span>
                            <div class=" ml-auto">



                                <span class="badge bg-success bd-white">Easy</span>



                            </div>
                        </div>
                        <div class="card-body font-secondary d-flex row py-3">
                            <div class="ml-3">
                                <span class=" mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i
                                        class="fas fa-fire-alt mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">10</span> points</span>
                                <span class="mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i
                                        class="far fa-comments mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">170</span> comments </span>
                                <span class="mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i
                                        class="far fa-star mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">3.35</span></span>
                            </div>
                        </div>

                        <div class="card-footer d-flex">
                            <div class="mr-auto">
                                <span class="badge bg-transparent" id="category-display">Miscellaneous</span>
                                ·
                                <span class="badge bg-transparent">

                                    <span style="color: white; " class="">intelagent







                                        <span class="ctf-pointer" data-toggle="tooltip" data-placement="top" title=""
                                            onclick="window.location.href='/learn++'"
                                            data-original-title="CTFlearn Premium"><i class="premium far fa-gem"
                                                aria-hidden="true"></i></span>


                                    </span>

                                </span>
                            </div>
                            <span class="d-inline font-secondary" style="color:blue">20352 solves</span>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col-md-6 col mb-5 flex-column">
                <a href="/challenge/88" class="clear-link d-block">
                    <div class="card challenge-card font-primary bg-secondary">
                        <div class="card-header d-flex">
                            <span style="font-size: 37px; text-decoration: none; color: rgb(255, 147, 7);">Basic
                                Injection</span>
                            <div class="ml-auto">



                                <span class="badge bg-success bd-white">Easy</span>



                            </div>
                        </div>
                        <div class="card-body font-secondary d-flex row py-3">
                            <div class="ml-3">
                                <span class="mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i class="
                                    fas fa-fire-alt mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">30</span> points</span>
                                <span class=" mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i class="
                                    far fa-comments mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">461</span> comments </span>
                                <span class=" mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i class="
                                    far fa-star mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">4.58</span></span>
                            </div>
                        </div>

                        <div class=" card-footer d-flex">
                            <div class="mr-auto">
                                <span class="badge bg-transparent" id="category-display">Web</span>
                                ·
                                <span class="badge bg-transparent">

                                    <span style="color: white; " class="">intelagent







                                        <span class="ctf-pointer" data-toggle="tooltip" data-placement="top" title=""
                                            onclick="window.location.href='/learn++'"
                                            data-original-title="CTFlearn Premium"><i class="premium far fa-gem"
                                                aria-hidden="true"></i></span>


                                    </span>

                                </span>
                            </div>
                            <span class="d-inline font-secondary" style="color:blue">28449 solves</span>
                        </div>

                    </div>
                </a>
            </div>
            <div class=" col-md-6 col mb-5 flex-column">
                <a href="/challenge/125" class="clear-link d-block">
                    <div class="card challenge-card font-primary bg-secondary">
                        <div class="headings_card card-header d-flex">
                            <span style="font-size: 37px; text-decoration: none; color: rgb(255, 147, 7);">Practice
                                Flag</span>
                            <div class=" ml-auto">



                                <span class="badge bg-success bd-white">Easy</span>



                            </div>
                        </div>
                        <div class="card-body font-secondary d-flex row py-3">
                            <div class="ml-3">
                                <span class=" mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i
                                        class="fas fa-fire-alt mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">10</span> points</span>
                                <span class="mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i
                                        class="far fa-comments mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">170</span> comments </span>
                                <span class="mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i
                                        class="far fa-star mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">3.35</span></span>
                            </div>
                        </div>

                        <div class="card-footer d-flex">
                            <div class="mr-auto">
                                <span class="badge bg-transparent" id="category-display">Miscellaneous</span>
                                ·
                                <span class="badge bg-transparent">

                                    <span style="color: white; " class="">intelagent







                                        <span class="ctf-pointer" data-toggle="tooltip" data-placement="top" title=""
                                            onclick="window.location.href='/learn++'"
                                            data-original-title="CTFlearn Premium"><i class="premium far fa-gem"
                                                aria-hidden="true"></i></span>


                                    </span>

                                </span>
                            </div>
                            <span class="d-inline font-secondary" style="color:blue">20352 solves</span>
                        </div>

                    </div>
                </a>
            </div>
            <div class="col-md-6 col mb-5 flex-column">
                <a href="/challenge/88" class="clear-link d-block">
                    <div class="card challenge-card font-primary bg-secondary">
                        <div class="card-header d-flex">
                            <span style="font-size: 37px; text-decoration: none; color: rgb(255, 147, 7);">Basic
                                Injection</span>
                            <div class="ml-auto">



                                <span class="badge bg-success bd-white">Easy</span>



                            </div>
                        </div>
                        <div class="card-body font-secondary d-flex row py-3">
                            <div class="ml-3">
                                <span class="mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i class="
                                    fas fa-fire-alt mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">30</span> points</span>
                                <span class=" mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i class="
                                    far fa-comments mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">461</span> comments </span>
                                <span class=" mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i class="
                                    far fa-star mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">4.58</span></span>
                            </div>
                        </div>

                        <div class=" card-footer d-flex">
                            <div class="mr-auto">
                                <span class="badge bg-transparent" id="category-display">Web</span>
                                ·
                                <span class="badge bg-transparent">

                                    <span style="color: white; " class="">intelagent







                                        <span class="ctf-pointer" data-toggle="tooltip" data-placement="top" title=""
                                            onclick="window.location.href='/learn++'"
                                            data-original-title="CTFlearn Premium"><i class="premium far fa-gem"
                                                aria-hidden="true"></i></span>


                                    </span>

                                </span>
                            </div>
                            <span class="d-inline font-secondary" style="color:blue">28449 solves</span>
                        </div>

                    </div>
                </a>
            </div>
            <div class=" col-md-6 col mb-5 flex-column">
                <a href="/challenge/125" class="clear-link d-block">
                    <div class="card challenge-card font-primary bg-secondary">
                        <div class="headings_card card-header d-flex">
                            <span style="font-size: 37px; text-decoration: none; color: rgb(255, 147, 7);">Practice
                                Flag</span>
                            <div class=" ml-auto">



                                <span class="badge bg-success bd-white">Easy</span>



                            </div>
                        </div>
                        <div class="card-body font-secondary d-flex row py-3">
                            <div class="ml-3">
                                <span class=" mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i
                                        class="fas fa-fire-alt mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">10</span> points</span>
                                <span class="mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i
                                        class="far fa-comments mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">170</span> comments </span>
                                <span class="mr-4"
                                    style="font-size: 23px; text-decoration: none; color: rgb(255, 147, 7);"><i
                                        class="far fa-star mr-2" aria-hidden="true"></i><span
                                        class="font-weight-bolder">3.35</span></span>
                            </div>
                        </div>

                        <div class="card-footer d-flex">
                            <div class="mr-auto">
                                <span class="badge bg-transparent" id="category-display">Miscellaneous</span>
                                ·
                                <span class="badge bg-transparent">

                                    <span style="color: white; " class="">intelagent







                                        <span class="ctf-pointer" data-toggle="tooltip" data-placement="top" title=""
                                            onclick="window.location.href='/learn++'"
                                            data-original-title="CTFlearn Premium"><i class="premium far fa-gem"
                                                aria-hidden="true"></i></span>


                                    </span>

                                </span>
                            </div>
                            <span class="d-inline font-secondary" style="color:blue">20352 solves</span>
                        </div>

                    </div>
                </a>
            </div>
        </div>
    </div>
    <script>
        function resetFilters() {
            category = "All";
            solved = "0";
            difficulty = "All";
            search = "";
            order = "solves";

            $("#category").val(category).change();
            $("#difficulty").val(difficulty).change();
            $("#solved").val(solved).change();
            $("#order").val(order).change();
            $("#search").val(search).keyup();

            filterChallenges();
        }
        function getCookieIfExists(name) {
            if (getCookie(name) && getCookie(name).length > 0) {
                return getCookie(name);
            }

            return null
        }

        $('#filter-form').submit(function (event) { event.preventDefault(); });
        var challenges = null;
        var category = getCookieIfExists("filter-category") || "All";
        var solved = getCookieIfExists("filter-solved") || "0";
        var difficulty = getCookieIfExists("filter-difficulty") || "All";
        var search = getCookieIfExists("filter-search") || "";
        var order = getCookieIfExists("filter-order") || "solves";
        var pageSize = parseInt(getCookieIfExists("page-size")) || 6;
        var currentPage = 0;
        var maxVisiblePages = 5;

        var base_url = "/challenge/api/1/browse?";
        var url = "/challenge/api/1/browse?";

        if (category !== "All") {
            url += "category=" + category + "&";
        }

        if (solved !== "-1") {
            if (solved === "0") {
                url += "solved=0&";
            } else {
                url += "solved=1&";
            }
        }

        if (difficulty !== "All") {
            url += "difficulty=" + difficulty + "&";
        }

        if (search !== "") {
            url += "search=" + search + "&";
        }

        if (order) {
            url += "order=" + order + "&";
        }

        if (pageSize) {
            url += "page-size=" + pageSize;
        }


        $("#category").change(function () {
            category = $("#category").find(":selected:not(:first-child)").text();
            if (category) {
                $('#category-label').addClass("active")
            } else {
                $('#category-label').removeClass("active")
            }
            filterChallenges();
            changePage(0);
        });
        if (category) {
            $("#category").val(category).change();
        }

        $("#difficulty").change(function () {
            difficulty = $("#difficulty").find(":selected:not(:first-child)").text();
            if (difficulty) {
                $('#difficulty-label').addClass("active")
            } else {
                $('#difficulty-label').removeClass("active")
            }
            filterChallenges();
            changePage(0);
        });
        if (difficulty) {
            $("#difficulty").val(difficulty).change();
        }
        $("#solved").change(function () {
            solved = $("#solved").find(":selected").val();

            if (solved != 0) {
                $('#solved-label').addClass("active")
            } else {
                $('#solved-label').removeClass("active")
            }
            filterChallenges();
            changePage(0);
        });
        if (solved != "") {
            $("#solved").val(solved).change();
        }
        $("#order").change(function () {
            order = $("#order").find(":selected").val();
            if (order !== $("#order").find(":selected:first-child").val()) {
                $('#order-label').addClass("active")
            } else {
                $('#order-label').removeClass("active")
            }
            filterChallenges();
            changePage(0);
        });
        if (order) {
            $("#order").val(order).change();
        }
        $("#search").keyup(function () {
            search = $("#search").val();
            if (search) {
                $('#search-label').addClass("active")
            } else {
                $('#search-label').removeClass("active")
            }
            filterChallenges();
            changePage(0);
        });
        if (search) {
            $("#search").val(search).keyup();
        }

        $("#pageSelect").change(function () {
            pageSize = parseInt($("#pageSelect").find(":selected").val());
            setCookie("page-size", pageSize, 30);
            filterChallenges();
        });
        if (pageSize) {
            $("#pageSelect").val(String(pageSize)).change();
        }
        $.get(url, function (res) {
            $("#ajax_loader").show();
            challenges = res['challenges'];
            filterChallenges();
        })
            .done(function () {
            })
            .fail(function () {
            })
            .always(function () {
                $("#ajax_loader").hide();
                $.get(base_url, function (res) {
                    challenges = res['challenges'];
                    filterChallenges();
                })
            });

        function filterChallenges() {
            if (challenges === null) {
                return;
            }
            var challengeList = $('#challenge-list');
            challengeList.empty();

            var unsorted = [];
            challenges.forEach(function (challenge) {
                if (shouldShowChallenge(challenge["json"])) {
                    var containerized = '<div class="col mb-5 flex-column">' + challenge["html"] + '</div>';
                    unsorted.push({ "html": containerized, "json": challenge["json"] });
                }
            });


            challengeList.append(unsorted.sort(compareChallenges).map(function (c) {
                return c["html"];
            }).slice(currentPage * pageSize, (currentPage + 1) * pageSize));

            setPages(unsorted.length);
            $('#pagination').attr("hidden", false);
            $('#pageSize').attr("hidden", false);
            $('#pagination-overview').attr("hidden", false);
            load_tooltip();

            setCookie("filter-category", category, 30);
            setCookie("filter-solved", solved, 30);
            setCookie("filter-difficulty", difficulty, 30);
            setCookie("filter-search", search, 30);
            setCookie("filter-order", order, 30);
        }

        function paginationItemHtml(page, text) {
            var classList = "";

            if (page === currentPage && Number.isInteger(text)) {
                classList = "active";
            }

            if (currentPage === page && !Number.isInteger(text)) {
                classList = "disabled"
            }

            return `<li class="page-item ctf-pointer ${classList}"><a class="page-link" onclick="changePage(${page})">${text}</a></li>`
        }

        function changePage(newPage) {
            currentPage = newPage;
            filterChallenges();
        }

        function setPages(numChallenges) {
            var numPages = Math.ceil(numChallenges / pageSize);
            var pseudoMaxVis = Math.min(maxVisiblePages, numPages);

            $('#current-page').text(currentPage + 1);
            $('#num-pages').text(numPages);

            var maxLeftRight = Math.floor(pseudoMaxVis / 2);
            var previousPages = 0;
            var nextPages = 0;
            if (currentPage - maxLeftRight >= 0 && currentPage + maxLeftRight < numPages) {
                previousPages = maxLeftRight;
                nextPages = maxLeftRight;
            } else if (currentPage - maxLeftRight < 0) {
                previousPages = currentPage;
                nextPages = pseudoMaxVis - previousPages;
            } else if (currentPage + maxLeftRight >= numPages) {
                nextPages = numPages - currentPage;
                previousPages = pseudoMaxVis - nextPages;
            }

            var paginationItems = $('#pagination-items');
            paginationItems.empty();

            paginationItems.append(paginationItemHtml(Math.max(0, currentPage - 1), "Previous"));

            var i = currentPage - previousPages;
            var max = i + Math.min(pseudoMaxVis, nextPages + previousPages + 1);

            for (i; i < max; i++) {
                paginationItems.append(paginationItemHtml(i, i + 1));
            }

            paginationItems.append(paginationItemHtml(Math.min(numPages - 1, currentPage + 1), "Next"));
        }

        function shouldShowChallenge(chal) {
            if (!category || chal["category"] === category) {
                if (solved == null || chal["solved"] == solved || solved === "-1") {
                    if (!difficulty || chal["difficulty"] === difficulty) {
                        if (!search || chal["author"].toLowerCase().includes(search.toLowerCase()) || chal["name"].toLowerCase().includes(search.toLowerCase()) || chal["id"].toString() === search) {
                            return true
                        }
                    }
                }
            }

            return false
        }

        function compareChallenges(a, b) {
            if (order === "solves") {
                return b["json"]["solves"] - a["json"]["solves"]
            }
            else if (order === "popular") {
                return b["json"]["rating"] - a["json"]["rating"]
            }

            else if (order === "easiest") {
                if (a["json"]["points"] === b["json"]["points"]) {
                    return b["json"]["solves"] - a["json"]["solves"]
                }
                return a["json"]["points"] - b["json"]["points"]
            }

            else if (order === "hardest") {
                return b["json"]["points"] - a["json"]["points"]
            }

            else if (order === "newest") {
                return b["json"]["timestamp"] - a["json"]["timestamp"]
            }
        }
    </script>

    <footer id="footer">
        <div class="container">
            <div class="row">

                <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="1s">
                    <h2>Follow us</h2>
                    <ul class="social-icon">
                        <li id="GI"><a href="#" class="fa fa-github wow fadeIn" data-wow-delay="1s"></a></li>
                        <li><a href="#" class="fa fa-instagram wow fadeInUp" data-wow-delay="1.3s"></a></li>
                        <li><a href="#" class="fa fa-linkedin wow fadeIn" data-wow-delay="1.6s"></a></li>
                        <li><a href="#" class="fa fa-envelope wow fadeInUp" data-wow-delay="1.9s"></a></li>
                    </ul>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </footer>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
</body>

</html>